:root {
    --primary-color: white;
    --secondary-color: #ede7f6;
    --primary-text-color: black;
    --secondary-text-color: white;

    --main-color: #ff0000;
    --starter-color: #7f0000;
    --gearing-color: #7cc8ff;
    --mission-color: #ff6d6d;
    --rate-color: #bc75ff;
    --guild-color: #ffd802;
    --weeklie-color: #ff6a00;
    --buff-color: #ffefa3;
    --farm-color: #cdff4f;

    --primary-highlight: #e6f2f4;
    --secondary-highlight: #bcdee3;
}