@import "./const.css";

.container {
    background-color: var(--starter-color);
    color: var(--secondary-text-color);
}

.container>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container>ul>li {
    margin: 0 1vw;
}

.section>ul>li {
    padding: 5px;
    color: black;
}

.section>ul>li:nth-child(odd) {
    background-color: var(--primary-highlight);
}

.section>ul>li:nth-child(even) {
    background-color: var(--secondary-highlight);
}