@import "./const.css";
@import "./keyframe.css";
@import "./fonts.css";

header,
footer {
    min-height: 100px;
}

header {
    margin-bottom: 50px;
}

header img {
    animation-name: zoom;
    animation-duration: 1s;
}

footer {
    margin-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

p {
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}

body {
    background-image: url(https://i.imgur.com/Z6CUn1W.png);
    background-color: black;
    margin: 0;
}

h1,
h2,
h3,
a>li {
    text-transform: uppercase;
    font-weight: 800;
}

h1,
h2,
h3,
a,
p,
span,
li,
strong {
    font-family: 'Now Thin';
    font-weight: 700;
}

.container {
    width: 70%;
    min-width: 750px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-radius: 15px;
    padding: 30px;
}

.back-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 30px;
    width: 50px;
    background-color: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.back-icon:hover {
    transform: translateX(-10px);
}

/* header */
header {
    text-align: center;
}

/* Main Page */
.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main>img {
    animation: fade-in 4s;
}

.dropdown {
    margin: 0 10px;
}

.dropdown img {
    cursor: pointer;
}

.dropdown img:hover {
    transform: translateY(-10px);
}

li:nth-child(1) .dropdown-items li {
    background-color: var(--starter-color);
    color: white;
}

li:nth-child(2) .dropdown-items li {
    background-color: var(--gearing-color);
}

li:nth-child(3) .dropdown-items li {
    background-color: var(--mission-color);
}

li:nth-child(4) .dropdown-items li {
    background-color: var(--rate-color);
}

li:nth-child(5) .dropdown-items li {
    background-color: var(--stats-color);
    color: white;
}

li:nth-child(6) .dropdown-items li {
    background-color: var(--guild-color);
}

li:nth-child(7) .dropdown-items li {
    background-color: var(--raid-color);
}

li:nth-child(8) .dropdown-items li {
    background-color: var(--weeklie-color);
}

li:nth-child(9) .dropdown-items li {
    background-color: var(--buff-color);
}

li:nth-child(10) .dropdown-items li {
    background-color: var(--farm-color);
}

li .dropdown-items li:hover {
    background-image: url(https://i.imgur.com/BpSiHf7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10px;
}

.dropdown-items {
    cursor: pointer;
    display: none;
    margin: 0 auto;
    text-align: center;
    border-top: none;
    animation: none 0.5s;
}

.dropdown-items li {
    padding: 5px;
    margin: 5px 0;
    border-radius: 15px;
}

.dropdown-items li:not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown-items li:hover {
    border-radius: 15px;
}

/* Footer */
footer {}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer .container>div {
    flex: 1 1 auto;
    width: 33%;
    min-width: none;
    margin: 0 1vw;
}

footer .container div>img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

footer .container div h2 {
    border-bottom: 5px solid var(--primary-text-color);
}